# WordPress (included for code completion)
/wordpress/
!/wordpress/wp-content/plugins/leonidas/plugin.php

# Env
.env

# Composer
/vendor
composer.lock

# CI output
/build
/coverage

# PHPUnit
.phpunit.result.cache

# Editor/ IDE
.idea
.project
.vscode/
*.code-workspace

# Apple hidden files
.DS_Store
